.confirmar {
    display: inline;
}

.concluir {
    margin-top: 20px;
}

#preco{
    width: 300px;
    background-color: yellow;
    text-align: center;
    height: 40px;
    vertical-align: middle;
    display: table-cell;
    border-radius: 10px;
}

.botoes {
    margin: 0px 10px !important
}

#limpar {
    background-color: red;
    color: white;
}